*{
    margin: 0;
    padding: 0;
    font-family: 'Marcellus', serif;
    box-sizing: border-box;
}
.loader{
    background-image: url(assests/loader1.gif);
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
.loading-animation{
    width: 100vw;
}
p{
    font-family: 'Marcellus', serif;
    color: white;
    text-align: center;
    font-size: 32px;
}
.wrapper{
    overflow: hidden;
    min-height: 100vh;
    background-image: url(assests/bg9.jpeg);
    background-size: 100% 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tagline{
    z-index: 100;
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
    font-size: 30px;
}
.Abhishar{
    z-index: 100;
    color: white;
    font-size: 72px;
    font-family: 'MedievalSharp', cursive;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
.tags{
    background-color: rgba(0, 0, 0, 0.521);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 33%;
    color: white;
    font-size: 72px;
    font-family: 'MedievalSharp', cursive;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
.picture{
    height: 100%;
}
#enchantment{
    justify-content: left;
    background-color: black;
}
#imagination{
    background-color: #010511;
    justify-content: left;
}
#magic{
    background-color: #0f2226;
    justify-content: right;
}
.greyContainer{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1{
    color: white;
    margin-bottom: 70px;
    text-shadow: rgb(0, 0, 0) 0px 0px 60px;

}
.redContainer
{
    background-color: #000000;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.midContainer{
    overflow: hidden;
    padding: 10px;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}
.hiddenMid{
    display: none;
}
.midContainer:hover span{
    font-size: 65px;
    margin-top: 0%;
    height: 100%;
    transition: 500ms;
    text-align: center;
}
.midHeading{
    margin-top: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
.blackClover{
    position: relative;
    background-image: url(assests/landing-rev-2-image-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(65vw);
    height: 100vh;
}
.wizardsContainer{
    background-image: url(assests/Magic.jpg);
    background-size: cover;
}
.wizardsContainer:hover .hiddenMid{
    display: block;
    transition: 500ms;
}
.wizardsContainer:hover{
    padding: 0px;
    transition: 500ms ease-in-out;
}
.wizardsContainer:hover span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.SwordsContainer{
    background-image:url(assests/sword.jpg) ;
    background-size: cover;
}
.SwordsContainer:hover span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232836;
}
.SwordsContainer:hover .hiddenMid{
    display: block;
    transition: 500ms;
}
.SwordsContainer:hover{
    padding: 0px;
    transition: 500ms ease-in-out;
}
.BeastsContainer{
    background-image: url(assests/beast.jpg);
    background-size: cover;
}
.BeastsContainer:hover span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 150px;
    background-color: #000000;
}
.BeastsContainer:hover .hiddenMid{
    display: block;
    width: 100%;
    transition: 500ms;
}
.BeastsContainer:hover{
    padding: 0px;
    transition: 500ms ease-in-out;
}
#stage{
    min-height: 100vh;
}
.noisyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    background-size: cover;
    height: 100vh;
}
#abhisharInfo{
    display: flex;
    flex-direction:row;
    background-color: black;
}
#abhisharInfo p{
    padding: 50px;
}
#intro{
    background-image: url(assests/map.jpg);
backdrop-filter: blur(2px);}
.introText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(3px);
    /* z-index: 2; */
}
.skullContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
}
::-webkit-scrollbar{
    display: none;
}
.main-page{
    display: none;
}
.container2{
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-size: 28px;
}
.qualityButtons{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lowQuality{
    color: white;
    aspect-ratio: 1/1;
    height: 100%;
    background-size: cover;
    background-image: url(assests/lowQuality.gif);
    mix-blend-mode:hard-light;
    text-decoration: none;
}
.lowQuality::after{
    content: "Standard Resolution";
    font-size: 17px;
    text-shadow: rgb(0, 0, 0) 0px 0px 1px;
}
.highQuality::after{
    text-align: center;
    font-size: 17px;
    content: "Premium Resolution";
}
.highQuality{
    text-decoration: none;
    color: white;
    background-position: -10px 0px;
    background-size: cover;
    aspect-ratio: 1/1;
    height: 100%;
    mix-blend-mode:hard-light;
    background-image:url(assests/highQuality.gif) ;
}
.launchVideo{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.launchVideo iframe{
    height: 100%;
    width: 100%;
}
  .fadein {
    opacity: 0;
    transition: all 2.5s;
    transform: translate(0, -300px);
  }
  
  .fadein.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  #dragon1{
    margin-left: -100px;
    z-index: 51;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #dragon2{
    margin-right: -100px;
    z-index: 52;
    height: 100vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #gladiator{
    position: relative;
    z-index: 50;
    height: 100%;
  }
  #fire{
    position: absolute;
    bottom: -200px;
    z-index: 0;
    opacity: 0.6;
  }